<!-- <h2> Digital Books App</h2> -->
<h3 *ngIf="isAuthorLoggedIn()">Hi {{getUsername()}} !</h3>
<h3 *ngIf="!isAuthorLoggedIn()">You are a Reader</h3>
<h4 *ngIf="!isAuthorLoggedIn()">Browse and Subscribe to books</h4>
<h6> Books are our best friends.</h6>
<h6>Reading books improves concentration and reading skills.</h6>
<h6>It is vital to cultivate the habit of reading books, especially in kids.</h6>
<h6>Books have been the medium of information storage for hundreds of years.</h6>
<h6>Books contain information about all kinds of things which build our knowledge of the world.</h6>
<h6>Technology has made it possible to have electronic books these days.</h6>

