.button1 , .button2 {
    display:inline-block;
    /* additional code */
    }
    .button1{
        background-color: red;
        margin-bottom: 5px;
        border-radius: 6px;
        border-color: none;
        
        width: 83px;
    }